[tool.poetry]
name = "fastapi-mail"
version = "1.2.5"
description = "Simple lightweight mail library for FastApi"
authors = ["Sabuhi Shukurov <sabuhi.shukurov@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/sabuhish/fastapi-mail"
repository = "https://github.com/sabuhish/fastapi-mail"
classifiers = [
    "Intended Audience :: Developers",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3 :: Only",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0"  # flake wants 3.8.1 minimum for some reason
Jinja2 = "^3.0"
aiosmtplib = "^2.0"
pydantic = "^1.8"
email-validator = "^1.1"
blinker = "^1.5"
httpx = {extras = ["httpx"], version = "^0.23", optional = true}
redis = {extras = ["redis"], version = "^4.3", optional = true}
starlette = ">=0.19,<1.0"  # caret behaviour on 0.x is to lock to 0.x.*

[tool.poetry.extras]
httpx = ["httpx"]
redis = ["redis"]

[tool.poetry.group.dev.dependencies]
pytest = "^7.0"
pytest-asyncio = "^0.20"
pytest-mock = "^3.10"
pytest-cov = "^4.0"
mkdocs = "^1.2"
mkdocs-material = "^7.2"
mkdocs-markdownextradata-plugin = "^0.2"
isort = "^5.9"
mypy = "0.971"
typed-ast = "^1.4"
regex = "2022.7.9"
fakeredis = "^2.0"
httpx = "^0.23"
redis = "^4.3"
uvicorn = "^0.20"
fastapi = "^0.88"
types-redis = "^4.3.21"
flake8 = "^6.0"
black = "^22.3"


[build-system]
requires = ["poetry-core>=1.2.0"]
build-backend = "poetry.core.masonry.api"


[tool.black]
line-length = 88

[tool.isort]
profile = "black"
line_length = 100
multi_line_output = 3
include_trailing_comma = true
py_version=39
skip_glob = [".github/*", ".venv/*", "venv/*", ".vscode/*"]
skip = [".gitignore", ".md", ".yaml", ".yml", ".lock",".toml"]

